<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="fixed-top">
    <nav class="navbar navbar-light" style="background-color: #204030;">
        <!-- Navbar content -->
        <h2> PerPetMatch</h2>
    </nav>
</div>
<br>
<br>
<br>
<br>
<h3>&nbsp;&nbsp;&nbsp;      추천 입양 </h3>
<div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/dog1.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog2.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog3.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog4.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog5.jpg" width="341" height="192"/>
        </div>
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/dog7.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog4.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog3.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog6.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog1.jpg" width="341" height="192"/>
        </div>
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/dog1.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog8.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog4.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog9.jpg" width="341" height="192"/>
        </div>
        <div class="item">
            <img src="images/dog5.jpg" width="341" height="192"/>
        </div>
        <a href="#section1" class="arrow__btn">›</a>
</div>
<br>
<br>
<br>
<br>
<h3>&nbsp;&nbsp;&nbsp; 내 주변 입양 </h3>
<br>
<br>
<div>
    <a href="#section1" class="arrow__btn">›</a>
    <span class="item">
        <img src="images/dog8.jpg" width="341" height="192"/>
    </span>
    <span class="item">
        <img src="images/dog9.jpg" width="341" height="192"/>
    </span>
    <span class="item">
        <img src="images/dog6.jpg" width="341" height="192"/>
    </span>
    <span class="item">
        <img src="images/dog5.jpg" width="341" height="192"/>
    </span>
    <a href="#section1" class="arrow__btn">›</a>
</div>
</body>
</html>