<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>퍼펫 매치</title>
    <link rel="stylesheet" href="@{http://localhost:8080/perpetmatch/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="@{http://localhost:8080/perpetmatch/node_modules/font-awesome/css/font-awesome.min.css}"/>
     <style>
         @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        h3 {
            color: #56ADB4;
            font-family: 'Do Hyeon', sans-serif;
        }
        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body class="bg-light">
<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                <td align="center">
                                    <h3> 안녕하세요. <span th:text="${nickname}"></span>님!</h3>
                                    <br>
                                    <h3> 퍼펫 매치(Perpet Match) 에 오신것을 환영합니다!</h3>
                                </td>
                                    <br>
                                </tr>
                                <tr>
                                    <td align style="text-align: center;">
                                        <img src="https://drive.google.com/uc?export=view&id=1-Rv1cngCjV6IKDJFqave0M9net8NJuSq" width="1000" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img src="https://drive.google.com/uc?export=view&id=1yyrZfKXkjI8_tkD139kqI0KjUrrYuuat" width="1000" height="250"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>You're receiving this email because you're a valued member of the Perpet Match</p>
                                        <p>&copy; 2020 PERPET MATCH. All Rights Reserved.</p>
                                        <p></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>