<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>퍼펫매치</title>
</head>
<body>
    <div>
        <p>안녕하세요. <span th:text="${nickname}"></span>님</p>

        <h2 th:text="${message}">메세지</h2>

        <div>
            <a th:href="${host + link}" th:text="${linkName}">Link</a>
            <p>링크가 동작하지 않은 경우 아래 URL을 웹브라우저에 복사해서 붙여 넣어주세요.</p>
            <small th:text="${host + link}"></small>
        </div>
    </div>
    <footer>
        <small>퍼펫매치&copy; 2020</small>
    </footer>
</body>
</html>